{% extends "app/base.html" %}
{% load static %}
{% block title %}RESET PASSWORD {% endblock title %}

{% block main-content %}

<div class="container">
    <div class = "row my-3">
        <div class = "col-md-6 offset-sm-3">
            <h3>RESET PASSWORD</h3>
            <hr>
            <form action="" method="post" class="shadow p-5" novalidate>
                {% csrf_token %}
                {% for fm in form %}
                    {{ fm.label_tag }} {{ fm }}
                    <small class="text-danger"> {{ fm.errors|striptags }}</small> <br>
                {% endfor %}
                <input type="submit" value="Reset Password" class="btn btn-primary"><br>

                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="alert alert-danger my-3">{{ error }}</p>
                    {% endfor %}
                {% endif %}

                {% comment %} {% if messages %}
                    {% for msg in messages %}
                        <div class="alert alert-{{ msg.tags }}" role="alert">
                            {{ msg }}
                        </div>
                    {% endfor %}
                {% endif %} {% endcomment %}
            </form>
        </div>


{% endblock main-content %}