{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Complete{% endblock title %}

{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-md-6 offset-sm-3 text-center">
            <h3>Password Reset Complete</h3>
            <hr>
            <iframe src="https://giphy.com/embed/3o7aD2sa1j0v4x5Y6I" width="480" height="270" frameBorder="0" allowFullScreen></iframe>
            <p class="alert alert-success">Your password has been reset successfully.</p>
            <p class="alert alert-info">You can now log in with your new password.</p>
            
            <!-- Login Button -->
            <a href="{% url 'login' %}" class="btn btn-primary mt-3">Go to Login</a>
        </div>
    </div>
</div>
<br>

{% endblock main-content %}
